* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.drop_area {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
}
.element {
    position: absolute;
    z-index: 1000;
}
.element:hover {
    cursor: pointer;
}